/*-- SECCION PARA LASGRAFICAS DE  SOFTWARE --*/
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
.software{
    margin-top: 1645px;
    height: 1300px;
    width: 100%;
    background-color: rgb(62, 75, 101,0.09);
    position: absolute;
    font-family: 'Oxygen', sans-serif;
    transition: all 0.5s;
}
/*-- UBICACION DE LAS CAJAS INICIO --*/
.caja1{
    position: absolute;
    margin-top: 30px;
    margin-left: 90px;
    background: url(../img/java.png);
    width: 200px;
    height: 300px; 
    transition: all 0.5s;
}
.caja2{
    position: absolute;
    width: 200px;
    height: 300px; 
    margin-top: 30px;
    margin-left: calc(90px * 4);
    background: url(../img/js.png);
    transition: all 0.5s;
}
.caja3{
    position: absolute;
    width: 200px;
    height: 300px; 
    margin-top: 30px;
    margin-left: calc(90px * 7);
    background: url(../img/jq.png);
    transition: all 0.5s;
}
.caja4{
    position: absolute;
    width: 200px;
    height: 300px; 
    margin-top: 30px;
    margin-left: calc(90px * 10);
    background: url(../img/net.png);
    transition: all 0.5s;
}
.caja5{
    position: absolute;
    margin-top: calc(30px * 14);
    margin-left: 90px;
    background: url(../img/php.png);
    width: 200px;
    height: 300px; 
    transition: all 0.5s;
}
.caja6{
    position: absolute;
    margin-top: calc(30px * 14);
    margin-left: calc(90px * 4);
    background: url(../img/andoid.png);
    width: 200px;
    height: 300px; 
    transition: all 0.5s;
}
.caja7{
    position: absolute;
    margin-top: calc(30px * 14);
    margin-left: calc(90px * 7);
    background: url(../img/visualbasic.png);
    width: 200px;
    height: 300px; 
    transition: all 0.5s;
}
.caja8{
    position: absolute;
    margin-top: calc(30px * 14);
    margin-left: calc(90px * 10);
    background: url(../img/frontback.png);
    width: 200px;
    height: 300px; 
    transition: all 0.5s;
}
.caja9{
    position: absolute;
    margin-top: calc(30px * 27);
    margin-left: calc(90px * 1);
    background: url(../img/sql.png);
    width: 200px;
    height: 300px; 
    transition: all 0.5s;
}

.caja10{
    position: absolute;
    margin-top: calc(30px * 27);
    margin-left: calc(90px * 4);
    background: url(../img/windows.png);
    width: 200px;
    height: 300px; 
    transition: all 0.5s;
}
.caja11{
    position: absolute;
    margin-top: calc(30px * 27);
    margin-left: calc(90px * 7);
    background: url(../img/linux.png);
    width: 200px;
    height: 300px; 
    transition: all 0.5s;
}
.caja12{
    position: absolute;
    margin-top: calc(30px * 27);
    margin-left: calc(90px * 10);
    background: url(../img/mac.png);
    width: 200px;
    height: 300px; 
   transition: all 0.5s;
}
/*-- UBICACION DE LAS CAJAS FIN --*/
.software .box{
    position: relative;
    display: flex;
    width: 200px;
    height: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff,#000;
    box-shadow: 0 30px 60px rgba(0,0,0.2);
    color:black;
}
.software .porcentaje{
    position: relative;
    width: 150px;
    height: 150px;
}
.software .porcentaje svg{
    position: relative;
    width: 150px;
    height: 150px;
}
.software .porcentaje svg circle{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width:10;
    stroke: #000;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset:440;
    stroke-linecap: round;
}
.software .porcentaje svg circle:nth-child(1){
    stroke-dashoffset:0;
    stroke: #0000;
}
/* inicio % */
.caja1 .porcentaje svg circle:nth-child(2){
    /* AQUI SE CAMBIA EL PORCENTAJE DE LA GRAFICA */
    /*                                      [90]% */
    stroke-dashoffset: calc(440px - (440px * 0) / 100);
    stroke: #03A9F4;/*COLOR DE LA GRAFICA*/
    transition: all 1s;
}
.caja2 .porcentaje svg circle:nth-child(2){
    /* AQUI SE CAMBIA EL PORCENTAJE DE LA GRAFICA */
    /*                                      [90]% */
    stroke-dashoffset: calc(440px - (440px * 0) / 100);
    stroke: #03A9F4;/*COLOR DE LA GRAFICA*/
    transition: all 1s;
}
.caja3 .porcentaje svg circle:nth-child(2){
    /* AQUI SE CAMBIA EL PORCENTAJE DE LA GRAFICA */
    /*                                      [20]% */
    stroke-dashoffset: calc(440px - (440px * 0) / 100);
    stroke: #03A9F4;/*COLOR DE LA GRAFICA*/
    transition: all 1s;
}
.caja4 .porcentaje svg circle:nth-child(2){
    /* AQUI SE CAMBIA EL PORCENTAJE DE LA GRAFICA */
    /*                                      [20]% */
    stroke-dashoffset: calc(440px - (440px * 0) / 100);
    stroke: #03A9F4;/*COLOR DE LA GRAFICA*/
    transition: all 1s;
}
.caja5 .porcentaje svg circle:nth-child(2){
    /* AQUI SE CAMBIA EL PORCENTAJE DE LA GRAFICA */
    /*                                      [75]% */
    stroke-dashoffset: calc(440px - (440px * 0) / 100);
    stroke: #03A9F4;/*COLOR DE LA GRAFICA*/
    transition: all 1s;
}
.caja6 .porcentaje svg circle:nth-child(2){
    /* AQUI SE CAMBIA EL PORCENTAJE DE LA GRAFICA */
    /*                                      [50]% */
    stroke-dashoffset: calc(440px - (440px * 0) / 100);
    stroke: #03A9F4;/*COLOR DE LA GRAFICA*/
    transition: all 1s;
}
.caja7 .porcentaje svg circle:nth-child(2){
    /* AQUI SE CAMBIA EL PORCENTAJE DE LA GRAFICA */
    /*                                      [85]% */
    stroke-dashoffset: calc(440px - (440px * 0) / 100);
    stroke: #03A9F4;/*COLOR DE LA GRAFICA*/
    transition: all 1s;
}
.caja8 .porcentaje svg circle:nth-child(2){
    /* AQUI SE CAMBIA EL PORCENTAJE DE LA GRAFICA */
    /*                                      [90]% */
    stroke-dashoffset: calc(440px - (440px * 0) / 100);
    stroke: #03A9F4;/*COLOR DE LA GRAFICA*/
    transition: all 1s;
}
.caja9 .porcentaje svg circle:nth-child(2){
    /* AQUI SE CAMBIA EL PORCENTAJE DE LA GRAFICA */
    /*                                      [90]% */
    stroke-dashoffset: calc(440px - (440px * 0) / 100);
    stroke: #03A9F4;/*COLOR DE LA GRAFICA*/
    transition: all 1s;
}
.caja10 .porcentaje svg circle:nth-child(2){
    /* AQUI SE CAMBIA EL PORCENTAJE DE LA GRAFICA */
    /*                                      [100]% */
    stroke-dashoffset: calc(440px - (440px *  0) / 100);
    stroke: #03A9F4;/*COLOR DE LA GRAFICA*/
    transition: all 1s;
}
.caja11 .porcentaje svg circle:nth-child(2){
    /* AQUI SE CAMBIA EL PORCENTAJE DE LA GRAFICA */
    /*                                      [100]% */
    stroke-dashoffset: calc(440px - (440px *  0) / 100);
    stroke: #03A9F4;/*COLOR DE LA GRAFICA*/
    transition: all 1s;
}
.caja12 .porcentaje svg circle:nth-child(2){
    /* AQUI SE CAMBIA EL PORCENTAJE DE LA GRAFICA */
    /*                                      [80]% */
    stroke-dashoffset: calc(440px - (440px * 0) / 100);
    stroke: #03A9F4;/*COLOR DE LA GRAFICA*/
    transition: all 1s;
}
/* fin % */
.software .porcentaje .numero{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.software .porcentaje .numero h2{
    font-size: 48px;
}
.software .porcentaje .numero h2 span{
    font-size: 24px;
}
.software .texto{
    padding: 10px 0 0;
    /*color: #999;*/
    color: white;
    font-weight: 700px;
    letter-spacing: 1px;
}
/*-- FIN DE LA SECCION PARA LASGRAFICAS DE  SOFTWARE --*/

/*-- SECCION PARA LASGRAFICAS DEL MANEJO DE SOFTWARE --*/
.contSoftware{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgb(62, 75, 101,0.08);
    transition: all 0.5s;
}
.cajaSoft{
    width:200px;
    height:230px;
    float: left;
    margin-top: 45px;
    margin-left: 80px;
    background-color:rgb(208,101,3);
    transition: all 0.5s;
}
.cajaSoft:hover{
     transition: all 0.5s;
     transform: scale(1.25);
    -webkit-border-radius:15%;
}
img.icon{
    display:block;
    width:100px;
    padding:20px;
    margin-top: 30px;
    margin-left: 30px;
    background-color:rgba(255,255,255,.01);
    -webkit-border-radius:30%;
    -webkit-box-shadow: 0px 0px 0px 70px rgba(255,255,255,0);
    -webkit-transition:box-shadow .5s;

}
.cajaSoft:hover  img.icon{
    background-color:rgba(255,255,255,.15);
-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}
.cajaSoft:hover p.texto{
    transition: all 0.5s;
    font-size: 2.1em;
    opacity:5;
}
p.texto{
    font-size: 1.2em;
    color:white;
    text-align:center;
    padding-top:5px;
    opacity: .02;
    transition: all 0.5s;
}
        /*COLOR POR CAJA*/
div#cajaSf1{
    background-color:rgb(22,145,330);
}

div#cajaSf2{
    background-color:#38424C;
}
div#cajaSf3{
    background-color:#F43C1A;
}
div#cajaSf4{
    background-color:#355C7D;
}
div#cajaSf5{
    background-color:#4E586E;
}
div#cajaSf6{
    background-color:#5B146F;
}
div#cajaSf7{
    background-color:#AFC49A;
}
div#cajaSf8{
    background-color:#04E0E3;
}
div#cajaSf9{
    background-color: #B4045F;
}
div#cajaSf10{
    background-color: #8A0829;
}
div#cajaSf11{
    background-color: #6E6E6E;
}

div#cajaSf12{
    background-color: #855BB5;
}
div#cajaSf13{
    background-color: #000000;
}
div#cajaSf14{
    background-color: #ffffff;
}
div#cajaSf14:hover .texto{
   transition: all 0.5s;
   color: black; 
}
div#cajaSf16{
    background-color: #0A0A2A;
}
div#cajaSf17{
    background-color: #FE2E2E;
}
div#cajaSf18{
    background-color: #01DF01;
}
div#cajaSf19{
    background-color: #04B4AE;
}
div#cajaSf20{
    background-color: #DF01A5;
}
div#cajaSf21{
    background-color: #CC1A2E;
}
div#cajaSf22{
    background-color: #007DD7;
}
div#cajaSf23{
    background-color: #00A562;
}
div#cajaSf24{
    background-color: #FF8F6B;
}
div#cajaSf25{
    background-color: #00AAED;
}
div#cajaSf26{
    background-color: #009CA3;
}

        /*FIN COLOR POR CAJA*/
/*-- FIN SECCION PARA LASGRAFICAS DEL MANEJO DE SOFTWARE 
/* GRAFICAS PARA EL IDIOMA */
