/* ESTILOS GENERALES */
* { 
    margin: 0; 
    padding: 0; 
}

body {
    background:url(../img/f2.jpg), #000;
    background-size: 100%;
    background-repeat: repeat-y;
    color: #fff;    
   
}

#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}

.contenedor {
    height: 4900px;
	width: 1200px;
    background-color: rgba(207, 207, 207 ,0.4);
    background-position:center;
    margin-top: 70px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    position: relative;
    /*opacity: 0.5;*/
}
.perfil{
    height: 400px;
    width: 1200px;
    background-color: rgba(3, 14, 20,1);
    position: absolute;
}
#datos{
    margin-top: 420px;
    height: 650px;
    width: 1200px;
    /*background-color: green;*/
    background-color: rgba(207, 207, 207 ,0.1);
    position: absolute;

}
.educacion{
    margin-top: 1095px;
    height: 530px;
    width: 500px;
    background-color: rgba(3, 14, 20,0.1);
    position: absolute;
}
#experienciaLaboral{
    margin-top: 1095px;
    margin-left: 510px;
    height: 530px;
    width: 690px;
    background-color: rgba(3, 14, 20,0.1);
    position: absolute;
}

#idioma{
    margin-top: calc(3975px * 2);
    height: 170px;
    width: 100%;
    background-color: yellow;
    position: absolute;
}
#aptitudes{
    margin-top: calc(4160px * 2);
    height: 735px;
    width: 100%;
    background-color: green ;
    position: absolute;
}
.lbl_titulo_n{
    margin-top: 110px;
    font-size: 325%;
    font-family: Cambria;
    margin-left: 50px;
}
.lbl_titulo_ap{
    font-size: 425%;
    font-family: Cambria;
    font-weight: bold;
    margin-left: 50px;
    position: absolute;
}
.lbl_titulo_datos{
    height: 380px;
    width: 400px;
    background-color: rgba(3, 14, 20,1);
    position: absolute;
    margin-left: 63%;
}
.datos_gral{
    margin-top: 20px;
    margin-right: 50px;
    padding: 8px;
    font-size: 150%;
    font-family: Cambria;
    color: white;
    position: relative;
    text-align: right;
}
.img_datos{
    position: absolute;
    margin-top: 15px;
    margin-left: 87%;
}
.img_datos_w{
    position: absolute;
    margin-top: 15px;
    margin-left: 87%;
}

.perfil_titulo{
    position: absolute;
    width: 1200px;
    height: 100px;
    background-color: rgba(3, 14, 20,0.7);
    font-family: Cambria;
    font-size: 150%;
    border-bottom-color: #00FF00;

}
.img_perfil{
    margin-left: 150px;
    float: left;
}
.lbl_perfil{
    font-family:sans-serif;
    font-size: 200%;
    text-align: center; 
    position: absolute;
    margin-left: 260px;
    margin-top: 20px;
}
#contenidoPerfil{
    background-color: rgba(5, 3, 63,0.8);
    position: absolute;
    width: 1200px;
    height: 225px;
    margin-top: 100px;
}
#contenidoPerfil p{
    color: white;
    text-align: justify;
    margin: auto;
    font-family: 'Merriweather', serif;
    font-size: 150%;
    padding: 3rem;
}
.obj_titulo{
    margin-top: 325px;
    position: absolute;
    width: 1200px;
    height: 100px;
   background-color: rgba(3, 14, 20,0.7);
}
.lbl_obj{
    font-family: 'Merriweather', serif;
    font-size: 230%;
    text-align: center; 
    position: absolute;
    margin-left: 260px;
    margin-top: 25px;
}
.obj_titulo img{
    margin-left: 150px;
    float: left;
}
#contenidoObj{
    background-color: rgba(5, 3, 63,0.8);
    position: absolute;
    width: 1200px;
    height: 230px;
    margin-top: 425px;
}
#contenidoObj p{
    color:white;
    text-align: justify;
    margin: auto;
    font-family: 'Merriweather', serif;
    font-size: 150%;
    padding: 3rem;
}
.edu_titulo{
    background-color: rgba(3, 14, 20,0.7);
    height: 100px;
    width: 500px;
}
.edu_titulo img{
    margin-left: 25px;
    margin-top: 10px;
    float: left;
}
.lbl_edu{
    font-family: 'Merriweather', serif;
    font-size: 230%;
    text-align: center; 
    position: absolute;
    margin-left: 120px;
    margin-top: 30px;
}
#educacionContenido{
    background-color: rgba(3, 14, 20,0.7);
    height: 430px;
    width: 500px;
    overflow-y: scroll; 

}
.exp_titulo{
    background-color: rgba(3, 14, 20,0.7);
    height: 100px;
    width: 690px;
}
.img_exper{
    margin-left: 25px;
    margin-top: 10px;
    float: left;
}
.lbl_exper{
    font-family: 'Merriweather', serif;
    font-size: 230%;
    text-align: center; 
    position: absolute;
    margin-left: 120px;
    margin-top: 30px;
}
#educacionContenido section{
    position: relative;
}
.articulos{
    background-color: red,  #0000;
    width: 100%;
    height: 250px;
    margin-top: 10px;
}
.img_art{
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}
.art_h1{
    font-family: sans-serif;
    font-size: 120%;
    text-align: left; 
    position: absolute;
    margin-left: 85px;
    margin-top: 20px;
    background-color: yellow, #0000;
    /*border: solid;*/
}
.art_ul{
    margin-top: 95px;
    margin-left: 50px;
    position: absolute;
    font-family: sans-serif;
    font-size: 140%;
}
.articulos p{
    margin-top: 135px;
    text-align: justify;
    position: absolute;
    font-family: sans-serif;
    font-size: 110%;
    padding: 15px;
}
#experienciaContenido{
    background-color: yellow, #0000;
    width: 100%;
    height: 430px;
    position: relative;
    overflow-y: scroll; 
}
#experienciaContenido section{
    position: relative;
}
.art_laboral{
    background-color: white;
    width: 100%;
    height: 400px;
    margin-top: 20px;
    position: relative;
    font-family:sans-serif;
    color: black;
}
.art_laboral .h2{
    position: absolute;
    font-family: 'Merriweather', serif;
    font-size: 180%;
    margin-top: 30px;
    margin-left: 30px;
}
.art_laboral a{
    font-family:sans-serif;
    position: absolute;
    margin-top: 80px;
    margin-left: 30px;
    font-size: 120%;
}
.art_laboral p{
    position: absolute;
    margin-top: 128px;
    margin-left: 15%;
    text-align: justify;
    width: 70%;
    font-size: 150%;
}
.softwareTitulo{
    position: relative;
    background-color: rgba(3, 14, 20,0.7);
    height: 100px;
    width: 100%;
}
.img_soft{
    margin-left: 30px;
    margin-top: 14px;
    float: left;

}
.lbl_soft{
    font-family: 'Merriweather', serif;
    font-size: 230%;
    text-align: center; 
    position: absolute;
    margin-left: 120px;
    margin-top: 30px;
}
.titulo_ms{
    width: 100%;
    height: 20px;
}
.manejoSoftware{
    margin-top: calc(1645px * 1.8);
    height: 2090px;
    width: 100%;
    background-color: red;
    position: absolute;
    font-family: 'Oxygen', sans-serif;
}
.titulo_ms{
    position: relative;
    background-color: black;
    height: 100px;
    width: 100%;
}
.img_soft{
    margin-left: 30px;
    margin-top: 14px;
    float: left;
}
.lbl_ms{
    font-size: 230%;
    position: absolute;
    margin-left: 120px;
    margin-top: 28px;
}